
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4e4e4e; 
  color: #fff; 
  padding: 20px;
}


header {
  margin-bottom: 20px;
}

.head {
  font-size: 2.5rem;
  color: #00ffea;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}


.display {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;
  background: #333;
  padding: 20px 40px;
  border-radius: 15px;
  letter-spacing: 5px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}


.container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.btn {
  background: #00ffea;
  color: #000000;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background: #00d8c0;
  transform: scale(1.25);
  transition: all 0.5s ease ;
}


.lapped {
  display: none;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width:none;
  background: #757f84;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(125, 125, 125, 0.5);
}


.lapped h2 {
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 1px solid #555;
}
